.cmp-card--outline {
    border: solid;
    background-color: antiquewhite;
}

/*
.card-first-col {
    height: 100vh;
    min-height: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.card-second-col {
    height: 46vh;
    min-height: 225px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.card-second-row-second-col {
    height: 46vh;
    min-height: 225px;
    padding-top: 20px;
    margin-bottom: 100px;
}
*/