<div class="container-fluid mt-3 mb-10">
    <h3>Hero Banner</h3>
</div>

<!--/* Carousel */-->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!--/* Indicators/dots */-->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!--/* The slideshow/carousel */-->

    <div class="carousel-inner" data-sly-use.resourceModel="com.demo.aem.core.models.HeroBannerModel"
        data-sly-test="${resourceModel.resourceList}" data-sly-list="${resourceModel.resourceList}">

        <div class="carousel-item ${itemList.first ? 'active' : ''}">
            <div data-sly-resource="${item.path @ resourceType=item.resourceType}"
                data-sly-unwrap="${wcmmode.disabled}">
            </div>
        </div>
    </div>

    <!--/* Left and right controls/icons */-->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>